pytest
torch
torchvision
torchaudio
matplotlib
transformers
pre-commit
wheel
accelerate
pddlpy
wonderwords
datasets
flash-attn
vllm
timeout-decorator
py-sudoku
ipywidgets
ipykernel
scikit-learn
google-genai
python-dotenv
